<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @plant.image_url %>)">
  <h2>Add a tag to <%= @plant.name %></h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card mt-3">
        <div class="card-body">
          <div class="form-tags">
            <% Tag.all.each do |tag| %>
            <%= simple_form_for [@plant, @plant_tag] do |f| %>
              <%= f.input :tag_id, input_html: { value: tag.id }, as: :hidden %>
              <%= f.submit tag.title %>
            <% end %>
          <% end %>
          </div>
          <%= link_to 'Cancel', garden_path(@plant.garden), class:'btn btn-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
